.finalDiv {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: space-around;
}

.finalDiv .createCard {
    width: 35%;
    padding-left: 50px;
    height: 100%;
}

.finalDiv .cardLists {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}